# Create the tables

In [1]:
%run create_tables.py

# Run the ETL

In [6]:
%run etl.py

# Connect to the Cluster

In [2]:
import configparser
import boto3
import psycopg2

In [3]:
%load_ext sql

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DB_NAME = config.get("CLUSTER","DB_NAME")
HOST = config.get("CLUSTER","HOST")
DB_USER = config.get("CLUSTER","DB_USER")
DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DB_PORT = config.get("CLUSTER","DB_PORT")

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# Run the analytic queries

### Table staging_events:

In [7]:
%sql SELECT count(*) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(15,)]

In [8]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Walter', 'M', 0, 'Frye', None, 'free', 'San Francisco-Oakland-Hayward, CA', 'GET', 'Home', Decimal('1540919166796'), 38, None, 200, 1541105830796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 39),
 (None, 'Logged In', 'Kaylee', 'F', 0, 'Summers', None, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'GET', 'Home', Decimal('1540344794796'), 139, None, 200, 1541106106796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ("Des'ree", 'Logged In', 'Kaylee', 'F', 1, 'Summers', Decimal('246'), 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', Decimal('1540344794796'), 139, 'You Gotta Be', 200, 1541106106796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 (None, 'Logged In', 'Kaylee', 'F', 2, 'Summers', None, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'GET', 'Upgrade', Decimal('1540344794796'), 139, None, 200, 1541106132796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ('Mr Oizo', 'Logged In', 'Kaylee', 'F', 3, 'Summers', Decimal('144'), 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', Decimal('1540344794796'), 139, 'Flat 55', 200, 1541106352796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8)]

### Table staging_songs:

In [9]:
%sql SELECT count(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(24,)]

In [10]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AREWD471187FB49873', None, None, '', 'Son Kite', 'SOIGICF12A8C141BC5', 'Game & Watch', Decimal('580'), 2004),
 (1, 'ARXQBR11187B98A2CC', None, None, 'Liverpool, England', 'Frankie Goes To Hollywood', 'SOBRKGM12A8C139EF6', 'Welcome to the Pleasuredome', Decimal('821'), 1985),
 (1, 'AR0MWD61187B9B2B12', None, None, '', 'International Noise Conspiracy', 'SOHOZBI12A8C132E3C', 'Smash It Up', Decimal('195'), 2000),
 (1, 'ARMJAGH1187FB546F3', 35.14968, -90.04892, 'Memphis, TN', 'The Box Tops', 'SOCIWDW12A8C13D406', 'Soul Deep', Decimal('148'), 1969),
 (1, 'ARCLYBR1187FB53913', 37.54703, -122.31483, 'San Mateo, CA', 'Neal Schon', 'SOOVHYF12A8C134892', "I'll Be Waiting", Decimal('304'), 1989)]

### Table songplays:

In [11]:
%sql SELECT count(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(11,)]

In [12]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(10, datetime.datetime(2018, 11, 1, 21, 55, 25, 796000), 26, 'free', None, None, 169, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (7, datetime.datetime(2018, 11, 1, 21, 24, 53, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (11, datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

### Table users:

In [13]:
%sql SELECT count(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(5,)]

In [14]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(26, 'Ryan', 'Smith', 'M', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (101, 'Jayden', 'Fox', 'M', 'free'),
 (39, 'Walter', 'Frye', 'M', 'free')]

### Table songs:

In [15]:
%sql SELECT count(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(24,)]

In [16]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, Decimal('189')),
 ('SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', 'AR73AIO1187B9AD57B', 2005, Decimal('118')),
 ('SOIGHOD12A8C13B5A1', 'Indian Angel', 'ARY589G1187B9A9F4E', 2004, Decimal('171')),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, Decimal('209')),
 ('SONQPZK12AB0182D84', 'Double Wide', 'ARKYKXP11F50C47A6A', 0, Decimal('160'))]

### Table artists:

In [17]:
%sql SELECT count(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(24,)]

In [18]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARC1IHZ1187FB4E920', 'Jamie Cullum', '', None, None),
 ('ARY589G1187B9A9F4E', 'Talkdemonic', 'Portland, OR', 45.51179, -122.67563),
 ('AR9Q9YC1187FB5609B', 'Quest_ Pup_ Kevo', 'New Jersey', None, None),
 ('ARJNIUY12298900C91', 'Adelitas Way', '', None, None),
 ('ARA23XO1187B9AF18F', 'The Smithereens', 'Carteret, New Jersey', 40.57885, -74.21956)]

### Table time:

In [19]:
%sql SELECT count(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14,)]

In [20]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqrdrky5jptn.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 20, 57, 10, 796000), 20, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 42, 0, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 2, 12, 796000), 21, 1, 44, 11, 2018, 4)]